header{
  margin-bottom: 30px;
}

figure {
  display: inline-block;
  box-sizing: border-box;
}

figure p {
  color: inherit;
  font-size: .6em;
  padding: 10px;
  overflow: auto;
}

figure ul li {
  display: inline-block;
  padding-left: 30px;
  padding-top: 30px
}

h3{
  margin-top: 20px;
  text-align: center;
}

.dealerHelper {
  height: 252px;
  width: 180px;
  margin-top: 0;
  background-color: black;
  background: -webkit-linear-gradient(left top, rgb(250,250,250), rgb(210,210,210)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(250,250,250), rgb(210,210,210)); /* Standard syntax */
  border-radius: 1em;
  display: inline-block;
}

.innerDealerHelper{
  position: relative;
  left: 4px;
  top: 5px;
  font-size: 2em;
  height: 232px;
  width: 160px;
  color: rgba(255,0,0,0.7);
  background-color: black;
  background: -webkit-linear-gradient(left top, rgb(250,250,250), rgb(210,210,210)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(250,250,250), rgb(210,210,210)); /* Standard syntax */
  border: 5px solid rgba(255,0,0,0.7);
  border-radius: 0.5em;
  overflow: auto;
}

#buttonHolder{
  width: 180px;
  float: right;
  height: 252px;
}

.gameButton {
  display: block;
  width: 180px;
  height: 49px;
}

#analyzeButton{
  margin: 0 25px 0 300px;
  width: 150px;
  height: 50px;
  display: inline-block;
}

#resetButton{
  margin: 0 250px 0 25px;
  width: 150px;
  height: 50px;
  display: inline-block;
}

#cardBackLogo{
  width: 95px;
  height: 95px;
  margin-left: 10px;
  margin-top: 30px;
}

#helperLogo{
  margin-left: 30px;
  margin-top: 10px;
}

#dealerdiv {
  width: 590px;
  height: 252px;
  padding-left: 85px;
  padding-top: 43px;
}

#computerHands{
  display: block;
  height: 250px;
  border: solid black 2px;
}

#playerhand {
  width: 590px;
  height: 252px;
  padding-left: 85px;
  padding-top: 43px
}

h2 {
  font-size: 30px;
}

input{
padding-left: 15px;
box-sizing: border-box;
margin-top: 5px;
margin-left: 3px;
}
