body {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 100px;
  padding-top: 10px;
}

header ul {
  float: right;
  display: inline-block;
  margin-top: 40px;
}

header ul li {
  float: right;
  display: inline-block;
  margin-left: 60px;
}

header img {
  float: left;
  size: 100px auto;
  display: block;
}

main {
  float: right;
  width: 860px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 100px;
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

nav {
  float: left;
  width: 100px;
}

nav a {
  text-align: left;
  margin-left: 25px;
  margin-top: 100px;
  width: 100px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  color: rgb(53, 186, 137);

}

button {
  margin: 25px auto;
}

a {
  text-decoration: none;
  color: black;
}
