body {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 100px;
  padding-top: 10px;
}

header ul {
  float: right;
  display: inline-block;
  margin-top: 40px;
}

header ul li {
  float: right;
  display: inline-block;
  margin-left: 60px;
}

header img {
  float: left;
  size: 100px auto;
  display: block;
}

main {
  float: right;
  width: 860px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 100px;
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

nav {
  float: left;
  width: 100px;
}

nav a {
  text-align: left;
  margin-left: 25px;
  margin-top: 100px;
  width: 100px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  color: rgb(53, 186, 137);

}

button {
  margin: 25px auto;
}

a {
  text-decoration: none;
  color: black;
}

/*Card Stuff*/

.outerbox {
  margin: 20px;
  position: relative;
  height: 350px;
  width: 250px;
  background-color: black;
  background: -webkit-linear-gradient(left top, rgb(250,250,250), rgb(210,210,210)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(250,250,250), rgb(210,210,210)); /* Standard syntax */
  border-radius: 1em;
}

.innerbox {
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: 2em;
  height: 322px;
  width: 222px;
  color: rgba(0,0,0,0.4);
  background-color: black;
  background: -webkit-linear-gradient(left top, rgb(250,250,250), rgb(210,210,210)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(250,250,250), rgb(210,210,210)); /* Standard syntax */
  border: 7px solid rgba(0,0,0,0.4);
  border-radius: 0.5em;
}

.innerboxr {
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: 2em;
  height: 322px;
  width: 222px;
  color: rgba(255,0,0,0.7);
  background-color: black;
  background: -webkit-linear-gradient(left top, rgb(250,250,250), rgb(210,210,210)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(250,250,250), rgb(210,210,210)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(250,250,250), rgb(210,210,210)); /* Standard syntax */
  border: 7px solid rgba(255,0,0,0.7);
  border-radius: 0.5em;
}

.topleft {
  float: left;
  margin:
}

.topright {
  float: right;
  margin-top: 0
}

.bottomleft {
  float: left;
  clear: both;
  margin-top: 88%;
}

.bottomright {
  float: right;
  margin-top: 93.5%;
}

.innerbox>p {
  margin: .3em;
  display: inline-block;
}

.innerbox>.bigger {
  font-size: 1.5em;
}
