

section {
  float: left;
  width: 560px;
  margin-top: 50px;
}

article {
  float: right;
  width: 400px;
  margin-top: 75px;
}

#explainCompRules {
  margin-top: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 30px;
}

p {
  padding: 50px;
}

li {
  text-align: center;
}

section ul {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 100px;
  overflow: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  float: right;
  clear: right;
  margin-right: 50px;
}
